.bg-text {
    margin-top: 10em;
    width: 80%;    
}
.bg-img{ position:absolute; width: 100%; height: 90%; background-image: url("/image/bg-img.png"); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}